.image-link img {
  width: 100px;
  height: 100px;
  margin-left: 40px;
}

.classname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 237, 255);
}

.navigation {
  display: flex;
  gap: 35px;
  margin-right: 80px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  /* amas shevcvli */
}

.navigation a {
  transition: color 0.2s ease, transform 0.2s ease;
}

.navigation a:hover {
  transform: scale(1.1); /* Makes it grow slightly on hover */
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-left: 50px;
  max-width: 750px;
}

h1 {
  font-size: 35px;
  margin-bottom: 40px;
}

p {
  font-size: 17px;
  font-size: 19px;
  line-height: 0.8;
}

.bigbox {
  display: flex;
  align-items: flex-start; /* aligns top of text and image */
  justify-content: space-between;
  align-items: center;
}

.box {
  flex: 1;
}

.name img {
  width: 250px;
  height: auto;
  display: block;
  margin-right: 200px;
  margin-top: 50px;
}
